## Chi Square Tests
## Laerd Statistics

In [4]:
import pandas as pd

In [3]:
import numpy as np

In [18]:
from scipy.stats import chi2_contingency
import scipy.stats as ss

In [7]:
#import scipy.stats - module containts large number of probability distributions, summary and frequency statistics, correlation functions and statistical tests
['Male','Books']

male_books = [['Male','Books']]*16
male_online = [['Male','Online']]*24
female_online =  [['Female','Online']]*27
female_books = [['Female','Books']]*13


raw_data = male_books + male_online + female_books + female_online

print(raw_data)

[['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Books'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Male', 'Online'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Books'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online'], ['Female', 'Online']]

In [16]:
df = pd.DataFrame(raw_data, columns=['Gender','Medium'])
df.head()
df.describe()

       Gender  Medium
count      80      80
unique      2       2
top      Male  Online
freq       40      51

In [22]:
#Perform Crosstabs Contingency
cross = ss.contingency.crosstab(df['Gender'],df['Medium'])
print(cross.elements)
print(cross.count)

(array(['Female', 'Male'], dtype=object), array(['Books', 'Online'], dtype=object))
[[13 27]
 [16 24]]

In [23]:
first , second = cross.elements
print(first, second)

['Female' 'Male'] ['Books' 'Online']

In [26]:
result = ss.chi2_contingency(cross.count, correction=False)
print(result)

Chi2ContingencyResult(statistic=0.486815415821501, pvalue=0.4853513240525321, dof=1, expected_freq=array([[14.5, 25.5],
       [14.5, 25.5]]))

In [29]:
print(result.expected_freq)

[[14.5 25.5]
 [14.5 25.5]]

In [32]:
x = 40*(29 / 80)
print(x)

14.5